<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6df64de9-0395-4e86-bac8-c892517d0d3d" Publisher="CN=Jose" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Cronometro.WindowsStore</DisplayName>
    <PublisherDisplayName>Jose</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Cronometro.WindowsStore.App">
      <VisualElements DisplayName="Cronometro.WindowsStore" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Cronometro.WindowsStore" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" ShortName="Toasts CS" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00b2f0" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>